.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategrey;
    padding: 20px;
}

.footer .logo img {
width: 120px;
    height: 120px;
}

.footer .footer-left {
display: flex;
flex-direction: column;
align-items: center;
color: white;

}
.footer .footer-left img {
    max-width: 100px;
}

.footer .footer-left p {
    margin: 5px 0;
}

.footer .footer-right ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer .footer-center {
    color: white;
}

.footer .footer-right ul li {
    margin-right: 10px;
}

.footer .footer-right ul li a {
    color: white;
    text-decoration: none;
}