footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategrey;
    padding: 20px;
}

.footer-left {
display: flex;
flex-direction: column;
align-items: center;
color: white;

}
.footer-left img {
    max-width: 100px;
}

.footer-left p {
    margin: 5px 0;
}

.footer-right ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.footer-center {
    color: white;
}

.footer-right ul li {
    margin-right: 10px;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
}