body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

section {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
    padding: 20px;
}

h1 {
    text-align: center;
}

h3 {
    color: #008080;
}

.p1, .p2 {
    margin-bottom: 20px;
}

.restaurator {
    text-align: center;
}

.restaurator img {
    width: 450px;
    height: 250px;
    display: block;
    margin: 0 auto;
}