<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Engros</title>
    <link rel="stylesheet" th:href="@{/css/Sidehovedbar.css}" href="../static/css/Sidehovedbar.css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" href="../static/css/footer.css">


</head>
<body>

<div th:replace="~{SideHovedBar :: Header}"></div>

<div class="content">
    <h1>Velkommen til engros</h1>
    <p>Dette er indholdet:</p>
</div>

<div th:replace="~{footer :: Footer}"></div>

</body>
</html>