<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">

</head>
<body>

<footer class="footer">
    <div class="logo">
        <div class="footer-left">
            <img src="../static/images/FooterLogo.png.png" th:src="@{images/FooterLogo.png}" alt="Website logo">
            <p>Græd Over Spildt Mælk</p>
        </div>
        </div>
        <div class="footer-center">
            <p>Kontakt os:</p>
            <p>Email: info@gosm.com</p>
            <p>Telefon: +45 87654321</p>
        </div>
        <div class="footer-right">
            <ul>
                <li> <a href="#">Hjem</a> </li>
                <li> <a href="#">Om os</a> </li>
                <li> <a href="#">Kontakt os</a> </li>
                <li> <a href="#">Privatlivspolitik</a> </li>
                <li> <a href="#">Betingelser og vilkår</a> </li>
                <li> <a href="#">Cookies</a> </li>
            </ul>

    </div>
</footer>
</body>
</html>