<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GrædOverSpildtMælk</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">

</head>
<body class="forside">
<div th:replace="~{SideHovedBar :: Header}"></div>
<main>
    <div class="container">
        <div class="tekst">
            <h1>Velkommen til Græd Over Spildt Mælk!</h1>
            <h2>Stop madspild - red planeten!</h2>
            <p>
                Hvert år smider vi over en milliard tons mad ud i verden.
                Det er et enormt problem, der ikke kun er etisk problematisk, men også har en række negative konsekvenser for vores klode.
            </p>



            <section class="problem">
                <h2>En trussel mod miljøet</h2>
                <p>Madspild bidrager til klimaforandringer, vandspild og jordforringelse.
                    Når mad spildes, ender det ofte på lossepladser, hvor det nedbrydes og frigiver metangas.
                    Metan er en drivhusgas, der er 25 gange mere potent end CO2, og som bidrager til global opvarmning.
                    Desuden kræver det enorme mængder vand at producere fødevarer.
                    Når mad spildes, går alt det vand, der er brugt til at dyrke, transportere og forarbejde den, til spilde.
                    Jordforringelse er et andet problem, da landbrugsjord er en dyrebar ressource, der er under pres fra en stigende befolkning.
                    Når mad spildes, øger det behovet for at dyrke mere jord, hvilket kan føre til jorderosion, udvaskning af næringsstoffer og tab af biodiversitet.</p>
            </section>
            <section class="solution">
                 <h2>En fælles opgave</h2>
                <p>Vi kan alle være med til at stoppe madspild og med vores simple men effektive tips, kan du få nedsat dit madspild.
                Vores tips kan findes i side hovedet, hvor at i kan vælge den situation som passer til jer.</p>

            </section>
            <section class="call-to-action">
                <h2>Sammen kan vi redde planeten!</h2>
                <p>Vi sætter stor pris på alle som deltager i kampen mod madspild, og vi kan kontaktes på vores nedenstående mail.
                Vi er en non-profit organisation og alle donationer skal gå igennem mail, efter en korrespondance.</p>
            </section>
        </div>
        <img src="../static/images/ForsideBillede.jpg" th:src="@{images/ForsideBillede.jpg}" alt="Billede til forsiden">
    </div>
</main>

<div th:replace="~{footer :: Footer}"></div>

</body>
</html>