<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <title>Partners</title>
</head>
<body class="Partners">
<div th:replace="~{Sidehovedbar :: Header}"></div>
        <h2>PARTNERS</h2>

        <h1>VORES PARTNERE AF GOSM ER STYRKEN BAG TÆNKTETANKEN</h1>

        <section>
            <p>
            Vore partnere har alle stor indflydelse på hvordan "fødekæden" er bygget op.
            Ikke nok med at de er vores partnere kommer de med massere af ideer og viden fra
            de forskellige firmaer.
            Nogle kommer fra forskellige hverdage og alle har noget at skulle sige i denne sag.
            Madspild kan formentligt ikke undgås men kan ihvertfald reduceres.

            Målet for alle er at Danmark skal kæmpe imod madspild og sikre en sikker fremtid
            inden for fødevareindustrien.
            </p>
        </section>

        <img src="../static/images/wefood.png" th:src="@{images/wefood.png}" alt="Partner billede">
        <img src="../static/images/Salling.png" th:src="@{images/Salling.png}" alt="Partner billede">
        <img src="../static/images/regionH.png" th:src="@{images/regionH.png}" alt="Partner billede">
        <img src="../static/images/Reduced.png" th:src="@{images/Reduced.png}" alt="Partner billede">
        <img src="../static/images/Landbrug-Foedevare.png" th:src="@{images/Landbrug-Foedevare.png}" alt="Partner billede">
        <img src="../static/images/Illustration_Medium-ISS_logo_edge_CMYK_2020.png" th:src="@{images/Illustration_Medium-ISS_logo_edge_CMYK_2020.png}" alt="Partner billede">
        <img src="../static/images/gartnerhjaelpen.png" th:src="@{images/gartnerhjaelpen.png}" alt="Partner billede">
        <img src="../static/images/FVST2021_1linje_RGB-2200x258.jpeg" th:src="@{images/FVST2021_1linje_RGB-2200x258.jpeg}" alt="Partner billede">
        <img src="../static/images/forbrukarradet_taenk_logo.png" th:src="@{images/forbrukarradet_taenk_logo.png}" alt="Partner billede">
        <img src="../static/images/foodof.png" th:src="@{images/foodof.png}" alt="Partner billede">
        <img src="../static/images/Foedevarerbanken.png" th:src="@{images/Foedevarerbanken.png}" alt="Partner billede">
        <img src="../static/images/DSK.png" th:src="@{images/DSK.png}" alt="Partner billede">
        <img src="../static/images/dansk-erhverv.png" th:src="@{images/dansk-erhverv.png}" alt="Partner billede">
        <img src="../static/images/Danmarks_tekniske-universitet.png" th:src="@{images/Danmarks_tekniske-universitet.png}" alt="Partner billede">
        <img src="../static/images/Dafoko.png" th:src="@{images/Dafoko.png}" alt="Partner billede">



<div th:replace="~{footer :: Footer}"></div>
</body>
</html>