<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>

    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
    <meta charset="UTF-8">
    <title>Restauratører</title>

</head>
<body class="restaurant">
<div th:replace="~{Sidehovedbar :: Header}"></div>
<main>
    <h1>Restauratører</h1>

    <div class="container">
        <div class="tekst">
        <section>
        <h3>Madspild er ikke bare et problem, det er tabte penge</h3>
            <p class="p1">
            Hvert eneste år udgør restauratør branchen ca. 8% af det samlede madspild, hvilket er svarende til 60.000 tons om året.
            Det ses ofte at madspildet kommer af manglende planlægning, opbevaring, tilberedning og overproduktion.
            Madspild er et problem for miljøet men det er også et minus på pengepungen blandt restauratører.
            </p>
            <p class="p2">
            Eftersom at madspild har fået mere og mere fokus på sig er der flere tiltag som har reduceret madspildet. Bufetter er blandt de
            største syndere inden for restauratør branchen. Nogle grundlæggende tips til buffetter er undgå at være for eksperimenterende.
            Begræns jer selv og undgå at have alt som hjertet kunne begære - Less is more.
            </p>
            <p class="p3">
            Restauratører har også et ansvar for at undgå madspild. Det er trods alt mad og service hele deres forretning er bygget på.
            De mest væsentlige ting som der bør være i orden er lageret. First in first out. Hav stort overblik over hvad der bliver
            bestilt da det vil gavne forretningen når der skal købes de rette mængder ind. Det vil dog altid være svært at forudsige
            hvor meget der skal bruges men det er et vigtigt værktøj.
            Det ville også kunne gavne en restaurant hvis menuen ændrede sig alt efter hvilke råvarer der er hjemme. Der vil være mulighed
            for at undgå at råvarer går i forrådnelse eller bliver glemt bagved.
            </p>
            <p class="p4">
            Initiativer som REFOOD er skabt til at restaratørerne kan fremhæve at de tager madspild seriøst. Det er med til at holde restaratørerne
            til ansvar for at der bliver gjort en indsat mod madspild. Doggybags, goodiebags eller "treat boxe" er også blevet mere almindeligt
            og tillader kunderne at tage resterne med hjem for at maden ikke går til spilde. Det er ikke utænkeligt at der er kunder som fravælger
            restauranter som ikke har fokus på madspild og vælger dem som går op i det. Det kunne sagtens lede til yderligere tabt indkomst.

            </p>
    </section>
        </div>
<div class="restaurator">
    <img src="../static/images/restauratør.jpg" th:src="@{images/restauratør.jpg}" alt="Restauratør billede">
</div>
    </div>
</main>

<div th:replace="~{footer :: Footer}"></div>
</body>
</html>



