<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/Sidehovedbar.css">
    <meta charset="UTF-8">
    <title>Græd over spildt mælk!</title>
</head>
<body>
<header class="Sidehovedbar">
     <div class="logo">
         <a href="http://localhost:8080/GrædOverSpildtMælk">
             <img src="../static/images/LogoMadspild.png" th:src="@{images/LogoMadspild.png}" alt="Website logo">
         </a>
     </div>
    <div>
         <nav>
             <ul>
                 <li class="nav-button"><a href="#">Om os</a></li>
                 <li class="nav-button"><a href="http://localhost:8080/engros">Engros</a></li>
                 <li class="nav-button"><a href="http://localhost:8080/detail">Detail</a></li>
                 <li class="nav-button"><a href="#">Restaurant</a></li>
                 <li class="nav-button"><a href="#">Privat</a></li>
             </ul>
         </nav>
     </div>
</header>

</body>
</html>
